<!-- app/views/customers/index.html.erb -->
<section class="section">
  <div class="container">
    <h1 class="title">All Customers</h1>
    <div class="columns is-multiline">
      <%= render partial: "customer", collection: @customers, as: :customer %>
    </div>
    <%= link_to 'Missing Email', customers_missing_email_path %>
    <%= link_to 'Alphabetized', customers_alphabetized_path %>
  </div>
</section>
