<!-- app/views/customers/missing_email.html.erb -->
<section class="section">
  <div class="container">
    <h1 class="title">Customers Missing Email</h1>
    <div class="columns is-multiline">
      <%= render partial: "customer", collection: @customers, as: :customer %>
    </div>
    <%= link_to 'All Customers', root_path, class: 'button is-primary' %>
    <%= link_to 'Alphabetized', customers_alphabetized_path, class: 'button is-link' %>
  </div>
</section>
